In [0]:
def rect_to_bb(rect):
	# take a bounding predicted by dlib and convert it
	# to the format (x, y, w, h) as we would normally do
	# with OpenCV
	x = rect.left()
	y = rect.top()
	w = rect.right() - x
	h = rect.bottom() - y
	# return a tuple of (x, y, w, h)
	return (x, y, w, h)

In [0]:
def shape_to_np(shape, dtype="int"):
	# initialize the list of (x, y)-coordinates
	coords = np.zeros((68, 2), dtype=dtype)
	# loop over the 68 facial landmarks and convert them
	# to a 2-tuple of (x, y)-coordinates
	for i in range(0, 68):
		coords[i] = (shape.part(i).x, shape.part(i).y)
	# return the list of (x, y)-coordinates
	return coords

In [0]:
import os
import pandas as pd

In [0]:
face = pd.DataFrame()

In [0]:
face['path'] = os.listdir("E:\\Senitment_data\\total_jpg")

FileNotFoundError: ignored

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
face

                path
0     000-ang-01.JPG
1     000-ang-02.JPG
2     000-ang-03.JPG
3     000-ang-04.JPG
4     000-ang-05.JPG
...              ...
4901  000-dis-13.JPG
4902  000-dis-14.JPG
4903  000-fea-00.JPG
4904  000-fea-01.JPG
4905  000-ang-00.JPG

[4906 rows x 1 columns]

In [0]:
face['path'].value_counts()

060-fea-05.JPG    1
003-neu-06.JPG    1
085-hap-03.JPG    1
026-dis-02.JPG    1
085-fea-04.JPG    1
                 ..
032-fea-07.JPG    1
026-fea-08.JPG    1
096-ang-01.JPG    1
023-dis-01.JPG    1
035-dis-23.JPG    1
Name: path, Length: 4906, dtype: int64

In [0]:
for i in range(0, len(face)) :
    face['path'][i] = 'E:\\Senitment_data\\total_jpg\\' + face['path'][i]
    
face

                                            path
0     E:\Senitment_data\total_jpg\000-ang-01.JPG
1     E:\Senitment_data\total_jpg\000-ang-02.JPG
2     E:\Senitment_data\total_jpg\000-ang-03.JPG
3     E:\Senitment_data\total_jpg\000-ang-04.JPG
4     E:\Senitment_data\total_jpg\000-ang-05.JPG
...                                          ...
4901  E:\Senitment_data\total_jpg\000-dis-13.JPG
4902  E:\Senitment_data\total_jpg\000-dis-14.JPG
4903  E:\Senitment_data\total_jpg\000-fea-00.JPG
4904  E:\Senitment_data\total_jpg\000-fea-01.JPG
4905  E:\Senitment_data\total_jpg\000-ang-00.JPG

[4906 rows x 1 columns]

In [0]:
# 성별, 나이, 감정 칼럼 생성
inform = pd.read_excel('E:\\Senitment_data\\참가자정보.xlsx')
inform

    번호 성별  나이
0    0  남  28
1    1  여  34
2    2  남  21
3    3  여  24
4    4  남  20
..  .. ..  ..
95  95  여  33
96  96  여  42
97  97  여  32
98  98  여  26
99  99  여  27

[100 rows x 3 columns]

In [0]:
inform.columns = ['no', 'gender', 'age']
inform

    no gender  age
0    0      남   28
1    1      여   34
2    2      남   21
3    3      여   24
4    4      남   20
..  ..    ...  ...
95  95      여   33
96  96      여   42
97  97      여   32
98  98      여   26
99  99      여   27

[100 rows x 3 columns]

In [0]:
face['no'] = None

In [0]:
for i in range(0, len(face)) :
    face['no'][i] = face['path'][i].split('\\')[3].split('-')[0]

In [0]:
face['no'] = pd.to_numeric(face['no'])

In [0]:
face = pd.merge(face, inform.drop_duplicates(['no']), on="no", how="left")
face

                                            path  no gender  age
0     E:\Senitment_data\total_jpg\000-ang-01.JPG   0      남   28
1     E:\Senitment_data\total_jpg\000-ang-02.JPG   0      남   28
2     E:\Senitment_data\total_jpg\000-ang-03.JPG   0      남   28
3     E:\Senitment_data\total_jpg\000-ang-04.JPG   0      남   28
4     E:\Senitment_data\total_jpg\000-ang-05.JPG   0      남   28
...                                          ...  ..    ...  ...
4901  E:\Senitment_data\total_jpg\000-dis-13.JPG   0      남   28
4902  E:\Senitment_data\total_jpg\000-dis-14.JPG   0      남   28
4903  E:\Senitment_data\total_jpg\000-fea-00.JPG   0      남   28
4904  E:\Senitment_data\total_jpg\000-fea-01.JPG   0      남   28
4905  E:\Senitment_data\total_jpg\000-ang-00.JPG   0      남   28

[4906 rows x 4 columns]

In [0]:
face['emo'] = None
for i in range(0, len(face)) :
    face['emo'][i] = face['path'][i].split('\\')[3].split('-')[1]
    
face

C:\Users\1-7\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                                            path  no gender  age  emo
0     E:\Senitment_data\total_jpg\000-ang-01.JPG   0      남   28  ang
1     E:\Senitment_data\total_jpg\000-ang-02.JPG   0      남   28  ang
2     E:\Senitment_data\total_jpg\000-ang-03.JPG   0      남   28  ang
3     E:\Senitment_data\total_jpg\000-ang-04.JPG   0      남   28  ang
4     E:\Senitment_data\total_jpg\000-ang-05.JPG   0      남   28  ang
...                                          ...  ..    ...  ...  ...
4901  E:\Senitment_data\total_jpg\000-dis-13.JPG   0      남   28  dis
4902  E:\Senitment_data\total_jpg\000-dis-14.JPG   0      남   28  dis
4903  E:\Senitment_data\total_jpg\000-fea-00.JPG   0      남   28  fea
4904  E:\Senitment_data\total_jpg\000-fea-01.JPG   0      남   28  fea
4905  E:\Senitment_data\total_jpg\000-ang-00.JPG   0      남   28  ang

[4906 rows x 5 columns]

In [0]:
face[face.no > 40]

                                            path  no gender  age  emo
13    E:\Senitment_data\total_jpg\099-neu-01.JPG  99      여   27  neu
14    E:\Senitment_data\total_jpg\099-neu-02.JPG  99      여   27  neu
15    E:\Senitment_data\total_jpg\099-neu-03.JPG  99      여   27  neu
16    E:\Senitment_data\total_jpg\099-neu-04.JPG  99      여   27  neu
17    E:\Senitment_data\total_jpg\099-sad-00.JPG  99      여   27  sad
...                                          ...  ..    ...  ...  ...
2405  E:\Senitment_data\total_jpg\041-fea-00.JPG  41      여   35  fea
2406  E:\Senitment_data\total_jpg\041-fea-01.JPG  41      여   35  fea
2407  E:\Senitment_data\total_jpg\041-fea-02.JPG  41      여   35  fea
2408  E:\Senitment_data\total_jpg\041-fea-03.JPG  41      여   35  fea
2409  E:\Senitment_data\total_jpg\041-hap-00.JPG  41      여   35  hap

[2397 rows x 5 columns]

In [0]:
face[face.no > 41]

                                            path  no gender  age  emo
13    E:\Senitment_data\total_jpg\099-neu-01.JPG  99      여   27  neu
14    E:\Senitment_data\total_jpg\099-neu-02.JPG  99      여   27  neu
15    E:\Senitment_data\total_jpg\099-neu-03.JPG  99      여   27  neu
16    E:\Senitment_data\total_jpg\099-neu-04.JPG  99      여   27  neu
17    E:\Senitment_data\total_jpg\099-sad-00.JPG  99      여   27  sad
...                                          ...  ..    ...  ...  ...
2378  E:\Senitment_data\total_jpg\042-neu-02.JPG  42      여   32  neu
2379  E:\Senitment_data\total_jpg\042-ang-00.JPG  42      여   32  ang
2380  E:\Senitment_data\total_jpg\042-ang-01.JPG  42      여   32  ang
2381  E:\Senitment_data\total_jpg\042-ang-02.JPG  42      여   32  ang
2382  E:\Senitment_data\total_jpg\042-ang-03.JPG  42      여   32  ang

[2370 rows x 5 columns]

In [0]:
face['light'] = None
for i in range(0, len(face)) :
    if face['no'][i] <= 40 :
        face['light'][i] = 1
    elif face['no'][i] > 40 :
        face['light'][i] = 0
face

C:\Users\1-7\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\1-7\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                            path  no gender  age  emo light
0     E:\Senitment_data\total_jpg\000-ang-01.JPG   0      남   28  ang     1
1     E:\Senitment_data\total_jpg\000-ang-02.JPG   0      남   28  ang     1
2     E:\Senitment_data\total_jpg\000-ang-03.JPG   0      남   28  ang     1
3     E:\Senitment_data\total_jpg\000-ang-04.JPG   0      남   28  ang     1
4     E:\Senitment_data\total_jpg\000-ang-05.JPG   0      남   28  ang     1
...                                          ...  ..    ...  ...  ...   ...
4901  E:\Senitment_data\total_jpg\000-dis-13.JPG   0      남   28  dis     1
4902  E:\Senitment_data\total_jpg\000-dis-14.JPG   0      남   28  dis     1
4903  E:\Senitment_data\total_jpg\000-fea-00.JPG   0      남   28  fea     1
4904  E:\Senitment_data\total_jpg\000-fea-01.JPG   0      남   28  fea     1
4905  E:\Senitment_data\total_jpg\000-ang-00.JPG   0      남   28  ang     1

[4906 rows x 6 columns]

In [0]:
for i in range(0, len(face)) :
    face['path'][i] = face['path'][i].replace('\\', '/', 3)
    face['path'][i] = face['path'][i].replace('JPG', 'jpg', 1)
    
face

C:\Users\1-7\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\1-7\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                                            path  no gender  age  emo light
0     E:/Senitment_data/total_jpg/000-ang-01.jpg   0      남   28  ang     1
1     E:/Senitment_data/total_jpg/000-ang-02.jpg   0      남   28  ang     1
2     E:/Senitment_data/total_jpg/000-ang-03.jpg   0      남   28  ang     1
3     E:/Senitment_data/total_jpg/000-ang-04.jpg   0      남   28  ang     1
4     E:/Senitment_data/total_jpg/000-ang-05.jpg   0      남   28  ang     1
...                                          ...  ..    ...  ...  ...   ...
4901  E:/Senitment_data/total_jpg/000-dis-13.jpg   0      남   28  dis     1
4902  E:/Senitment_data/total_jpg/000-dis-14.jpg   0      남   28  dis     1
4903  E:/Senitment_data/total_jpg/000-fea-00.jpg   0      남   28  fea     1
4904  E:/Senitment_data/total_jpg/000-fea-01.jpg   0      남   28  fea     1
4905  E:/Senitment_data/total_jpg/000-ang-00.jpg   0      남   28  ang     1

[4906 rows x 6 columns]

In [0]:
# 내보내기
face.to_csv('E:\\Senitment_data\\face.csv', sep=',', na_rep='NaN')

### 가져오기

In [0]:
face = pd.read_csv('E:\\Senitment_data\\csv\\face.csv', index_col = 0)

## 눈,코,입 나누기

In [0]:
from collections import OrderedDict
import numpy as np
import cv2
import dlib
from facial_landmark_detections import rect_to_bb, shape_to_np, resize

In [0]:
# 전체
#dictionary that maps the indexes of the facial landmarks to specific face regions

#For dlib’s 68-point facial landmark detector:
FACIAL_LANDMARKS_68_IDXS = OrderedDict([
    ("total", (0, 68))
])

In [0]:
# 나눠서
#dictionary that maps the indexes of the facial landmarks to specific face regions

#For dlib’s 68-point facial landmark detector:
FACIAL_LANDMARKS_68_IDXS = OrderedDict([
    ("eye", (36, 48)),
    ("nose", (27, 36)),
    ("mouth", (48, 68))
])

In [0]:
FACIAL_LANDMARKS_IDXS = FACIAL_LANDMARKS_68_IDXS

In [0]:
def visualize_facial_landmarks(image, shape, colors=None, alpha=0.75):
    # create two copies of the input image -- one for the
    # overlay and one for the final output image
    overlay = image.copy()
    output = image.copy()

    # if the colors list is None, initialize it with a unique
    # color for each facial landmark region
    if colors is None:
        colors = [(19, 199, 109), (79, 76, 240), (230, 159, 23),
            (168, 100, 168), (158, 163, 32),
            (163, 38, 32), (180, 42, 220), (0,255,255)]

    # loop over the facial landmark regions individually
    for (i, name) in enumerate(FACIAL_LANDMARKS_IDXS.keys()):
        # grab the (x, y)-coordinates associated with the face landmark
        (j, k) = FACIAL_LANDMARKS_IDXS[name]
        pts = shape[j:k]

        # check if are supposed to draw the jawline
        if name == "jaw":
            # since the jawline is a non-enclosed facial region,
            # just draw lines between the (x, y)-coordinates
            pass
            for l in range(1, len(pts)):
                ptA = tuple(pts[l - 1])
                ptB = tuple(pts[l])
                cv2.line(overlay, ptA, ptB, colors[i], 2)

        # otherwise, compute the convex hull of the facial
        # landmark coordinates points and display it
        else:
            hull = cv2.convexHull(pts)
            cv2.drawContours(overlay, [hull], -1, colors[i], -1)

    # apply the transparent overlay
    cv2.addWeighted(overlay, alpha, output, 1 - alpha, 0, output)

    # return the output image
    return output

In [0]:
# items = list(FACIAL_LANDMARKS_IDXS.items())
# items[1][0]

In [0]:
for (i, name) in enumerate(FACIAL_LANDMARKS_IDXS.keys()):
        # grab the (x, y)-coordinates associated with the
        # face landmark
        print(str(i)+" "+name)

0 eye
1 nose
2 mouth

In [0]:
# initialize dlib's face detector (HOG-based) and then create
# the facial landmark predictor
detector = dlib.get_frontal_face_detector()
predictor = dlib.shape_predictor('shape_predictor_68_face_landmarks.dat')

In [0]:
# load the input image, resize it, and convert it to grayscale
image = cv2.imread('E:/Senitment_data/total_jpg/044-sur-02.JPG')
image = resize(image, width=500)
gray = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)
 
# detect faces in the grayscale image
rects = detector(gray, 1)

In [0]:
# face['path'][0].split('/')[3]

In [0]:
path1 = 'E:\\Senitment_data\\total_jpg\\000-ang-00.jpg'
# load the input image, resize it, and convert it to grayscale
image = cv2.imread(path1)
image = resize(image, width=500)
gray = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)

# detect faces in the grayscale image
rects = detector(gray, 1)

In [0]:
face

                                            path  no gender  age  emo  light
0     E:\Senitment_data\total_jpg\000-ang-01.JPG   0      남   28    0      1
1     E:\Senitment_data\total_jpg\000-ang-02.JPG   0      남   28    0      1
2     E:\Senitment_data\total_jpg\000-ang-03.JPG   0      남   28    0      1
3     E:\Senitment_data\total_jpg\000-ang-04.JPG   0      남   28    0      1
4     E:\Senitment_data\total_jpg\000-ang-05.JPG   0      남   28    0      1
...                                          ...  ..    ...  ...  ...    ...
4901  E:\Senitment_data\total_jpg\000-dis-13.JPG   0      남   28    1      1
4902  E:\Senitment_data\total_jpg\000-dis-14.JPG   0      남   28    1      1
4903  E:\Senitment_data\total_jpg\000-fea-00.JPG   0      남   28    2      1
4904  E:\Senitment_data\total_jpg\000-fea-01.JPG   0      남   28    2      1
4905  E:\Senitment_data\total_jpg\000-ang-00.JPG   0      남   28    0      1

[4906 rows x 6 columns]

In [0]:
face['path'][1].split('\\')[3]

'000-ang-02.JPG'

### 전체 이미지

In [0]:
for k in range(0, len(face)) :
    path1 = face['path'][k]
    # load the input image, resize it, and convert it to grayscale
    image = cv2.imread(path1)
    image = resize(image, width=500)
    gray = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)

    # detect faces in the grayscale image
    rects = detector(gray, 1)    
    
    # loop over the face detections
    for (i, rect) in enumerate(rects):
        # determine the facial landmarks for the face region, then
        # convert the landmark (x, y)-coordinates to a NumPy array
        shape = predictor(gray, rect)
        shape = shape_to_np(shape)

        # loop over the face parts individually
        for (name, (i, j)) in FACIAL_LANDMARKS_IDXS.items():
            # clone the original image so we can draw on it, then
            # display the name of the face part on the image
            clone = image.copy()
            cv2.putText(clone, name, (10, 30), cv2.FONT_HERSHEY_SIMPLEX, 0.7, (0, 0, 255), 2)

            # loop over the subset of facial landmarks, drawing the
            # specific face part
            for (x, y) in shape[i:j]:
                landm = cv2.circle(clone, (x, y), 1, (0, 0, 255), -1)
            # extract the ROI of the face region as a separate image
            (x, y, w, h) = cv2.boundingRect(np.array([shape[i:j]]))
            landm = landm[y:y + h, x:x + w]
            landm = resize(landm, width=250, inter=cv2.INTER_CUBIC)
            # write jpg files
            path2 = 'E:\\Senitment_data\\dot_total_jpg\\' + name + '-' + face['path'][k].split('\\')[3]
            cv2.imwrite(path2, landm)
            cv2.waitKey(0)

            #show the particular face part
            #cv2.imshow("ROI", roi)
#             cv2.imshow("Image", landm)
#             cv2.waitKey(0)
        
        #visualize all facial landmarks with a transparent overlay
        output = visualize_facial_landmarks(image, shape)
        #cv2.imshow("Image", output)
        #cv2.waitKey(0)

cv2.waitKey(0)
cv2.destroyAllWindows()

### 파트별 이미지

In [0]:
for k in range(0, len(face)) :
    path1 = face['path'][k]
    # load the input image, resize it, and convert it to grayscale
    image = cv2.imread(path1)
    image = resize(image, width=500)
    gray = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)

    # detect faces in the grayscale image
    rects = detector(gray, 1)

In [0]:
for k in range(0, len(face)) :
    path1 = face['path'][k]
    # load the input image, resize it, and convert it to grayscale
    image = cv2.imread(path1)
    image = resize(image, width=500)
    gray = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)

    # detect faces in the grayscale image
    rects = detector(gray, 1)    
    # loop over the face detections
    for (i, rect) in enumerate(rects):
        # determine the facial landmarks for the face region, then
        # convert the landmark (x, y)-coordinates to a NumPy array
        shape = predictor(gray, rect)
        shape = shape_to_np(shape)

        # loop over the face parts individually
        for (name, (i, j)) in FACIAL_LANDMARKS_IDXS.items():
            # clone the original image so we can draw on it, then
            # display the name of the face part on the image
            clone = image.copy()
            cv2.putText(clone, name, (10, 30), cv2.FONT_HERSHEY_SIMPLEX, 0.7, (0, 0, 255), 2)

            # loop over the subset of facial landmarks, drawing the
            # specific face part
            for (x, y) in shape[i:j]:
                landm = cv2.circle(clone, (x, y), 1, (0, 0, 255), -1)
                
            # extract the ROI of the face region as a separate image
            (x, y, w, h) = cv2.boundingRect(np.array([shape[i:j]]))
            if name == 'eye':
                landm = landm[y-10:y + h + 20, x-10:x + w + 10]
            elif name == 'nose':
                landm = landm[y+5:y + h + 5 , x-30:x + w + 30]
            elif name == 'mouth' :
                landm = landm[y -10 :y + h + 10, x-20:x + w + 20]
            landm = resize(landm, width=250, inter=cv2.INTER_CUBIC)

            # write jpg files
            path2 = 'E:\\Senitment_data\\dot_part_jpg\\' + name + '-' + face['path'][k].split('\\')[3]
            cv2.imwrite(path2, landm)
            cv2.waitKey(0)

            #show the particular face part
            #cv2.imshow("ROI", roi)
            #cv2.imshow("Image", landm)
            #cv2.waitKey(0)
        
        #visualize all facial landmarks with a transparent overlay
        #output = visualize_facial_landmarks(image, shape)
        #cv2.imshow("Image", output)
        #cv2.waitKey(0)

cv2.waitKey(0)
cv2.destroyAllWindows()

In [0]:
face['emo'].value_counts()

ang    787
dis    753
fea    703
sad    701
sur    667
neu    655
hap    640
Name: emo, dtype: int64